---
---
// Import partials from `sass_dir` (defaults to `_sass`)
@import "mofo-colors";
@import 'default';
@import "ctom-navbar";
@import "ctom-listbox";
@import 'custom';

body {
  padding-top: 170px;
  padding-bottom: 150px;
  width: 100%;
  background-image: url(../img/background10.jpg);
  background-color: #eee;
  background-size: cover;
  background-attachment: fixed;
}
