.list-settings{
  padding: 0.5rem 0;
  .btn{
    // background: $firefox-orange;
    // border-color: #bd4a0b;
  }
  p{
    margin: 0;
  }
}

.list-hidden{
  transition: ease-out 1s !important;
  max-height: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin: 0 !important;
}

.user-list-hidden{
  max-height: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin: 0 !important;
}


.listsection-header{
  width: 100%;
  min-height: 36.78px;
  background-color: $nightly-blue;
  border: 1px solid #3f4b73;
  @media (max-width: 576px){
    margin-right: 1rem;
    margin-left: 1rem;
  }
  h5{
    padding: 0.4rem 0rem 0.4rem 1.1rem;
    color: #fff;
    margin: 0;
    @media (max-width: 576px){
    padding: 0.4rem 0rem 0.4rem .7rem;
    }
  }
}

.listbox{
  margin-left: 1rem;
  width: 100%;
  @media (max-width: 576px){
    margin-right: 1rem;
  }
  input[type=checkbox]:checked{
  }
  .listbox__checkbox{
    background-color: #2e5c87;
    display: inline-block;
    border-right: 1px solid #fff;
    padding: 0.4rem 0.7rem;
    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .listbox__header{
    overflow: hidden;
    position: relative;
    background-color: #7ca9d2;
    background-color: rgb(163, 188, 211);
    border-top: 1px solid #2e5c87;
    border-right: 1px solid #2e5c87;
    border-radius: 1px;
    p{
      color: #fff;
      display: inline-block;
      margin: 0;
      // margin-left: 1.2rem;
      margin-left: 3.4rem;
      padding: .3rem 0rem;
      @media (max-width: 500px){
        width: 60%;
      }
      @media (max-width: 320px){
        width: 58%;
      }
    }
    i{
      font-size: 14px;
    }
    .select-product-sugestion,
    .select-more-info{
      display: inline-block;
      float: right;
      padding: .3rem 0rem;
      margin-right: 0.9rem;
      cursor: pointer;
      color: #fff;
    }
    .info-hidden{
      color: #728ea6;
      cursor: default;
    }
    @media (max-width: 768px){
      small{
        display: none;
      }
    }
  }


  .listbox__textbox{
    transition: ease-in 1s;
    max-height: 20rem;
    background-color: #fcfcfc;
    background-color: rgba(252, 252, 252, 0.95);
    overflow: hidden;
    padding: 2rem 3rem 1rem 3.5rem;
    p{
      font-size: 0.9rem;
    }
    li{
      font-size: 0.9rem;
      line-height: 1.2;
    }
    h6{
      margin-bottom: 0.32rem;
      font-weight: 600;
    }
  }

  .listbox__products{
    transition: ease-in 1s;
    background-color: #fcfcfc;
    background-color: rgba(252, 252, 252, 0.95);
    padding: 1rem 2rem 3rem 3.5rem;
    overflow: hidden;
    max-height: 30rem;
    h6{
      font-weight: 600;
    }
    p{
      display: block;
      text-align: left;
      margin-bottom: 5px;
      color: $market-orange;
    }
    .row{
      margin: 0;
    }
    .row>div{
      padding-left: 0;
    }
    .row>.col-md-3{
      margin-right: 1rem;
    }
  }
  .listbox__frame{
    width: 100%;
    height: 100%;
  }
  .listbox__options{
    background-color: #fcfcfc;
    padding: 1rem 2rem 2rem 3.5rem;
    small{
      color: #999;
      margin-right: 1rem;
    }
  }
}

// .listbox:nth-of-type(even) .listbox__header {
//   background-color: #7ca9d2;
// }
