.navbar{
  flex-direction: unset;
  background-color: $nightly-blue;
  box-shadow: 0 3px 3px #bbb;
  // position: relative;
  @media (min-width: 544px){
    border-radius:  0;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }
  img{
    height: 65px;
    display: inline-block;
    vertical-align: text-bottom;
  }
  h4{
    display: inline-block;
    color: #fefefe;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Satisfy', cursive;
  }
  span{
    margin-left: 2rem;
  }
}

.alert{
  display: block;
  width: 100%;
}

.navbar-brand{
  margin-left: 1rem;
}
